@import "tailwindcss";
@plugin "daisyui";

.active {
  border-bottom: 2px solid #007456;
}
nav .active {
  border-bottom: 2px solid #D1D5DB;
  /* background-color: #1b9373; */
}

.bg-clr1 {
    background-color: #007456;
}
.bg-clr2 {
    background-color: #003D20;
}
.bg-clr3 {
  background-color: #b2cdc6;
}
.text-clr1 {
    color: #007456;
}
.text-clr2 {
    color: #48928e;
}
.text-clr3 {
    color: #003D20;
}

.shadow1 {
  box-shadow: 0 1px 5px #007456;
}
/* #89aea4 */
.shadow2 {
  box-shadow: 0 1px 10px #a4d6c8;
}
.shadow3 {
  box-shadow: 0 0px 3px #a4d6c8;
}


/* shine animation */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.shine1 {
  background: linear-gradient(110deg, #FFFF 45%, #068463 55%, #FFFF);
  background-size: 200% 100%;
  animation: shine 5s linear infinite;
}

/* Scale animation */
.scale1 {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.scale1:hover {
  transform: scale(1.05);
}
